@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #d9d9d9;
  color: #000;
  display: flex;
}

.sidebar {
  width: 100px;
  display: flex;
  justify-content: center;
}

.link-form {
    display: none;
  }

.user-style {
  font-size: 2rem;
  background: #cdcdcd;
  border-radius: 50%;
  padding: 10px;
  margin-top: 25px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.user-img {
  width: 48px;
  height: 48px;
}

.container {
  flex: 1;
  padding: 20px 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.header h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.search-box {
  justify-content: flex-end;
}

.search-box input {
  padding: 8px 5px 8px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 48px;
  top: 32px;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tabs {
  display: flex;
  margin-top: 30px;
}

.tab {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  padding-bottom: 10px;
  color: #333;
}

.tab.active {
  color: #c62a2a;
  border-bottom: 2px solid #c62a2a;
}

.tickets-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ticket-card {
  text-decoration: none;
  color: inherit;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.ticket-info p {
  margin: 3px 0;
  font-size: 18px;
  font-weight: 500;
}

.ticket-status {
  text-align: right;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
}

.open-btn {
  width: 40px;
  height: 40px;
}

@media (max-width: 425px) {
  .sidebar {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .user-style {
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    margin-top: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .user-img {
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
  }

  .container {
    flex: 1;
    padding: 20px 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .search-box {
    justify-content: flex-end;
  }

  .search-box input {
    padding: 8px 0px 8px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 14px;
    width: 83px;
  }

  .search-icon {
    position: absolute;
    right: 10px;
    top: 39px;
    font-size: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .tabs {
    position: absolute;
    left: 20px;
    display: flex;
    margin-top: 30px;
  }

  .tab {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    padding-bottom: 10px;
    color: #333;
  }

  .tab.active {
    color: #c62a2a;
    border-bottom: 2px solid #c62a2a;
  }

  .tickets-list {
    position: absolute;
    top: 150px;
    left: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .ticket-card {
    text-decoration: none;
    color: inherit;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
  }

  .color-card,
  .color-card-yellow {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .color-card .ticket-card,
  .color-card-yellow .ticket-card {
    margin-top: 0;
    border-radius: 0 0 10px 10px;
  }

  .span-color,
  .span-color-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
  }

  .color-card {
    background-color: #c62a2a;
  }

  .color-card-yellow {
    background-color: #d0d400de;
  }

  .span-color {
    color: white;
  }

  .span-color-yellow {
    color: black;
  }

  .ticket-info p {
    margin: 3px 0;
    font-size: 18px;
    font-weight: 500;
  }

  .ticket-status {
    display: none;
  }

  .open-btn {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 100px;
    display: flex;
    justify-content: center;
    border-right: 2px solid #949494;
  }

  .link-form {
    display: none;
  }

  .user-style {
    font-size: 2rem;
    background: #cdcdcd;
    border-radius: 50%;
    padding: 10px;
    margin-top: 25px;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .user-img {
    width: 48px;
    height: 48px;
  }

  .container {
    flex: 1;
    padding: 20px 40px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-box {
    position: absolute;
    right: 30px;
  }

  .search-box input {
    padding: 8px 5px 8px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-right: 10px;
    width: 80px;
  }

  .search-icon {
    position: absolute;
    right: 18px;
    top: 20px;
    font-size: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .tabs {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }

  .tab {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    padding-bottom: 10px;
    color: #333;
  }

  .tab.active {
    color: #c62a2a;
    border-bottom: 2px solid #c62a2a;
  }

  .tickets-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .ticket-card {
    text-decoration: none;
    color: inherit;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
  }

  .span-color-yellow {
    display: none;
  }

  .span-color {
    display: none;
  }

  .ticket-info p {
    margin: 3px 0;
    font-size: 18px;
    font-weight: 500;
  }

  .ticket-status {
    text-align: right;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  .open-btn {
    width: 40px;
    height: 40px;
  }
}

/* a partir de 768px, muda o layout */
@media (min-width: 1024px) {
  .sidebar {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #949494;
    flex-direction: column;
    justify-content: space-between;
  }

  .link-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .user-style {
    font-size: 2rem;
    background: #cdcdcd;
    border-radius: 50%;
    padding: 10px;
    margin-top: 25px;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .user-img {
    width: 48px;
    height: 48px;
  }

  .container {
    flex: 1;
    padding: 20px 40px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-box {
    position: absolute;
    right: 30px;
  }

  .search-box input {
    padding: 8px 5px 8px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-right: 10px;
    width: 170px;
  }

  .search-icon {
    position: absolute;
    right: 18px;
    top: 20px;
    font-size: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .tabs {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }

  .tab {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    padding-bottom: 10px;
    color: #333;
  }

  .tab.active {
    color: #c62a2a;
    border-bottom: 2px solid #c62a2a;
  }

  .tickets-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .ticket-card {
    text-decoration: none;
    color: inherit;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
  }

  .ticket-info p {
    margin: 3px 0;
    font-size: 18px;
    font-weight: 500;
  }

  .ticket-status {
    text-align: right;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  .open-btn {
    width: 40px;
    height: 40px;
  }
}
